<!DOCTYPE html>
<html>
<head>
	<title>The Cubby Hole NJ</title>
</head>
<body>

	<!-- begin header -->

		<div class="container-fluid main-header" id="home">

			<div class="container">

				<div class="row">
					<div class="nav navbar-nav navbar-fixed-top">
						<div class="navbar-brand">
							<img src="assets/Cubbyhole2logo.png">
						</div>
					
					  	<ul class="nav navbar-nav navbar-right top-nav">


			  		<% if current_user %>
			  			<li><a href="/admin/<%=current_user.id.to_s%>">Admin Profile</a></li>
			 			<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
			  		<% else %> 
			  			<li><a class="btn btn-primary nav-btn" id="homeit">Home</a></li>
			  			<li><a class="btn btn-primary nav-btn" id="aboutit">About</a></li>
			  			<li><%= link_to('Log In', new_user_session_path, :class => 'btn btn-primary nav-btn')%></li>
						<li><%= link_to('Register', new_user_registration_path, :class => 'btn btn-primary nav-btn')  %></li>
						

					<% end %>
			   			</ul>
			   	</div>
			   </div>


					
				<div class="margin">
					<div class="row main-nav">
						<div class="col-md-8 col-md-offset-2 text-center">
							<img src="assets/Cubbyhole2logo.png" class="img-responsive header-image">
								
						</div>
					</div>
				</div>

				<div class="margin-bot">
						
				</div>
			</div>

		</div>



		<!-- begin first content -->

		<div class="container-fluid first-content" id="about">
			<div class="container">
				<div class="margin"></div>
				<div class="row">
					<div class="col-md-6 info1">
						<h4>The Cubby Hole<h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, adipisci tempore obcaecati. Necessitatibus, consectetur commodi mollitia, qui hic in cum quasi suscipit atque laudantium facere veritatis! Doloribus aliquid recusandae, deserunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum ex eligendi modi totam deserunt quia consequuntur possimus omnis tempora facere tenetur, debitis excepturi. Error excepturi expedita consectetur sunt qui eius! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores velit, odit quam, quae expedita fugiat dicta eos, aspernatur quibusdam voluptatum consequuntur ut rem doloremque fuga corporis error sapiente aliquam possimus!. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit illo rerum nostrum sed praesentium numquam magni laboriosam. Quisquam ratione, assumenda delectus, facilis, minima vel provident porro officia obcaecati temporibus ducimus.</p>
					</div>


					<div class="col-md-6 info2">
							<img src="assets/redbeanscubby.jpg" class="img-responsive">


					</div>
				</div>

				<div class="row">
					<div class="col-md-5">
						<h3>Breakfast</h3>
						<% Menu.where(category: "Breakfast").all.each do |breakfast| %>
							<b>Name:</b> <%= breakfast.menu_item %> 
							<b>Description:</b> <%= breakfast.description%><br>
							
						<% end %>

					</div>
				</div>

				


			</div>
		</div>


<!-- footer -->

	<footer>	
		<div class="footer-wrap">
			
		</div>
	</footer>



		<!-- begin second content -->





	




</body>
</html>
