<div class="container">

		<center><h2>Admin Center</h2>
		<br />
		<h3>Welcome <%= current_user.email %></h3>
		</center>

	<%= link_to('Add Menu Item', new_menu_path, :class => 'btn btn-danger') %>
	<%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => 'btn btn-danger') %>

	<div class="row">
		<h1> Breakfast Items</h1>

		<% Menu.where(category: 'Breakfast').all.each do |breakfast| %>
		<div class="col-md-2 menu-item">
		<div class="margin-text"></div>
			Name: <%= breakfast.menu_item %><br>
			Category: <%= breakfast.category %><br>
			Description: <%= breakfast.description %><br>
			Price: <%= breakfast.price %><br><br>

			<center><a href="/menus/<%= breakfast.id %>/edit" class="btn content-btn " style="color:white">Edit Item</a><br></center>
		</div>
			


		<% end %>
	</div>


	<div class="row">
		<h2>Paninis </h2>
		<% Menu.where(category: 'Paninis').all.each do |panini| %>
		<div class="col-md-2 menu-item">
		<div class="margin-text"></div>
			Name: <%= panini.menu_item %><br>
			Category: <%= panini.category %><br>
			Description: <%= panini.description %><br>
			Price: <%= panini.price %><br><br>
			<center><a href="/menus/<%= panini.id %>/edit" class="btn content-btn" style="color:white">Edit Item</a><br><br></center>
		</div>

		<% end %>
	</div>

	<div class="row">
		<h2>Salads </h2>
		

		<% Menu.where(category: 'Salads').all.each do |salad| %>
		<div class="col-md-2 menu-item">
		<div class="margin-text"></div>
			Name: <%= salad.menu_item %><br>
			Category: <%= salad.category %><br>
			Description: <%= salad.description %><br>
			Price: <%= salad.price %><br><br>
			<center><a href="/menus/<%= salad.id %>/edit" class="btn content-btn" style="color:white">Edit Item</a><br><br></center>
		</div>

		<% end %>
	</div>
<br>



<h2> Emails </h2>
	<% Email.all.each do |email| %>
		Name: <%= email.fname %><br>
		Last Name: <%= email.lname %><br>
		Email: <%= email.email %>
	<% end %>



	api key: AIzaSyDQxxFBgvR3G8TaQ7Eg7xwD2pRxZsX1bNk

</div>