<!DOCTYPE html>
<html>
	<head>
		<title>Cubbyholenj</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet">
	</head>
	<body>
		<%= yield %>
		<footer>
			<div class="footer-wrap">
				<div class="container">
					<div class="footer">
						<div class="row">
							<div class="margin-text"></div>
							<div class="col-md-4 col-md-offset-4 footer-social">
								
								<i class="fa fa-facebook"></i>
								<i class="fa fa-twitter"></i>
								<i class="fa fa-instagram"></i>
								<i class="fa fa-snapchat"></i>
							</div>
						</div>
						<div class="row">
							<div class="margin-text"></div>
							<div class="col-md-12 footer-text">
								2017 The Cubby Hole <Br> Website  by  michael welsh <br><a href="/users/sign_in">Admin</a>
								<br>
								<% if current_user %>
								<a href="/admin/<%= current_user.id.to_s %>">Admin Page</a></li><br>
								<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</footer>
	</body>
</html>